<a href="https://colab.research.google.com/github/dineDk/AI-coures/blob/main/veriablr%20in%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A variable python is a reserved memory loction to store a value. data to computer for processing.

In [ ]:
# assigning to value to a variable

In [2]:
a=10
print(a)

10

# New Section

In [4]:
a=10
b=20
print(a)
print(b)
a,b=10,20
print(a,b)

10
20
10 20

In [7]:
y=5
j=5
print(y)
print(j)
y=j=5
print(y)
print(j)

5
5
5
5

In [ ]:
# rule of variable.  start with alphabet or  (_) underscore. and if use any space it not work , symbol also no use .....

In [8]:
age=10
_Age=20
print(age)
print(_Age)

10
20

In [9]:
@age=10
print(@age)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-9-85102f531a34>, line 1)

In [10]:
dinesh kumar=1
print(dinesh kumar)

SyntaxError: invalid syntax (<ipython-input-10-2f75588b9edb>, line 1)

In [ ]:
# in it funtion we use  underscore likr this

In [11]:
dinesh_kumar=1
print(dinesh_kumar)

1

In [ ]:
# the variable not start with numarical value..

In [12]:
1a=10
print(1a)

SyntaxError: invalid decimal literal (<ipython-input-12-4731af0d5bab>, line 1)

In [ ]:
# but we use back side of value like this

In [13]:
a1=10
print(a1)

10

In [ ]:
# like it in alphanumerical will use

In [14]:
num143=5
print(num143)

5

In [ ]:
# Its is case sensitive  like this if you give

In [16]:
A=10
a=10
print(A)
print(a)

10
10

In [ ]:
# no key word should be used..